<!DOCTYPE html>
<html lang="en">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        $('#btnSignUp').click(function() {

            $.ajax({
                url: '/signUp',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
    </script>
<script type=text/javascript>
function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function() {
  readURL(this);
});
</script>
  <head>
    <title>Python Flask Bucket List App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>
      <h1>Image Recognition Model - Is it a Bird or a Plane?!</h1>
      <div class="jumbotron">
          <head>
              <body>

              <form id="upload_form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" multiple>
                <input class="btn btn-primary" type="submit" value="Run the Model">
              </form>
                </body>
          </head>
            <span class="help-block">
                Select an image file of either a bird or a plane and see if the model can guess what it is!
            </span>
      </div>




  </body>

</html>